<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/add_person/" method="post">
    <label>emp_name:</label>
    <input type="text" name="name" placeholder="enter the employee name"><br>
    <label>salary:</label>
    <input type="number" name="no" placeholder="enter the salary"><br><br>
    <label>pf:</label>
    <input type="number" name="pf" placeholder="enter the pf"><br><br>
    <label>address:</label>
    <input type="text" name="adress" placeholder="enter the address"><br><br>
    <label>experience:</label>
    <input type="number" name="exp" placeholder="enter the experience"><br><br>
    <label>status:</label>
    <input type="text" name="status" placeholder="enter the status"><br><br>

    <input type="submit">
</form>

</body>
</html>